USE [master]
GO
/****** Object:  Database [QL_CuaHangXe]    Script Date: 10/27/2019 9:39:38 PM ******/
CREATE DATABASE [QL_CuaHangXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_CuaHangXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QL_CuaHangXe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_CuaHangXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QL_CuaHangXe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_CuaHangXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_CuaHangXe]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 10/27/2019 9:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaBH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[SoKhung] [nchar](10) NULL,
	[SoMay] [nchar](10) NULL,
 CONSTRAINT [PK_BaoHanh] PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 10/27/2019 9:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[UserName] [nchar](20) NOT NULL,
	[Password] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBanXe]    Script Date: 10/27/2019 9:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBanXe](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNX] [varchar](50) NULL,
	[MaNV] [int] NULL,
	[SoKhung] [nchar](10) NULL,
	[SoMay] [nchar](10) NULL,
	[SoLuong] [int] NULL,
	[TongTienHD] [money] NULL,
	[NgayLapHD] [date] NULL,
 CONSTRAINT [PK_HoaDonBanXe] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/27/2019 9:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](50) NULL,
	[SoCMTKH] [nchar](10) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[SoDTKH] [nchar](10) NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 10/27/2019 9:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChiNCC] [nvarchar](50) NULL,
	[SoDTNCC] [nchar](10) NULL,
	[EmailNCC] [varchar](50) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/27/2019 9:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HotenNV] [nvarchar](50) NULL,
	[SoCMTNV] [nchar](10) NULL,
	[DiaChiNV] [nvarchar](50) NULL,
	[SoDTNV] [nchar](10) NULL,
	[Luong] [money] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomXe]    Script Date: 10/27/2019 9:39:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomXe](
	[MaNX] [varchar](50) NOT NULL,
	[HangSX] [nvarchar](50) NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_NhomXe] PRIMARY KEY CLUSTERED 
(
	[MaNX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapXe]    Script Date: 10/27/2019 9:39:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapXe](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaNCC] [int] NULL,
	[MaNX] [varchar](50) NULL,
	[DonGiaPN] [money] NULL,
	[SoLuongPN] [int] NULL,
	[NgayNhapPN] [date] NULL,
	[ThanhTienPN] [money] NULL,
 CONSTRAINT [PK_PhieuNhapXe] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToanChoNCC]    Script Date: 10/27/2019 9:39:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanChoNCC](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NULL,
	[TongTienTT] [money] NULL,
	[NgayLapTT] [date] NULL,
 CONSTRAINT [PK_ThanhToanChoNCC] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 10/27/2019 9:39:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[Ma_NX] [varchar](50) NULL,
	[SoKhung] [nchar](10) NOT NULL,
	[SoMay] [nchar](10) NULL,
	[MauSac] [nvarchar](50) NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_Xe_1] PRIMARY KEY CLUSTERED 
(
	[SoKhung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_KhachHang]
GO
ALTER TABLE [dbo].[BaoHanh]  WITH CHECK ADD  CONSTRAINT [FK_BaoHanh_Xe] FOREIGN KEY([SoKhung])
REFERENCES [dbo].[Xe] ([SoKhung])
GO
ALTER TABLE [dbo].[BaoHanh] CHECK CONSTRAINT [FK_BaoHanh_Xe]
GO
ALTER TABLE [dbo].[HoaDonBanXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanXe_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDonBanXe] CHECK CONSTRAINT [FK_HoaDonBanXe_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonBanXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanXe_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBanXe] CHECK CONSTRAINT [FK_HoaDonBanXe_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonBanXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanXe_NhomXe] FOREIGN KEY([MaNX])
REFERENCES [dbo].[NhomXe] ([MaNX])
GO
ALTER TABLE [dbo].[HoaDonBanXe] CHECK CONSTRAINT [FK_HoaDonBanXe_NhomXe]
GO
ALTER TABLE [dbo].[HoaDonBanXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanXe_Xe] FOREIGN KEY([SoKhung])
REFERENCES [dbo].[Xe] ([SoKhung])
GO
ALTER TABLE [dbo].[HoaDonBanXe] CHECK CONSTRAINT [FK_HoaDonBanXe_Xe]
GO
ALTER TABLE [dbo].[PhieuNhapXe]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapXe_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhapXe] CHECK CONSTRAINT [FK_PhieuNhapXe_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhapXe]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapXe_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhapXe] CHECK CONSTRAINT [FK_PhieuNhapXe_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhapXe]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapXe_NhomXe] FOREIGN KEY([MaNX])
REFERENCES [dbo].[NhomXe] ([MaNX])
GO
ALTER TABLE [dbo].[PhieuNhapXe] CHECK CONSTRAINT [FK_PhieuNhapXe_NhomXe]
GO
ALTER TABLE [dbo].[ThanhToanChoNCC]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToanChoNCC_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[ThanhToanChoNCC] CHECK CONSTRAINT [FK_ThanhToanChoNCC_NhaCungCap]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_NhomXe] FOREIGN KEY([Ma_NX])
REFERENCES [dbo].[NhomXe] ([MaNX])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_NhomXe]
GO
USE [master]
GO
